@font-face {
    font-family: 'Grafiti';
    src: url(/assets/fonts/Amanzinc\ Grafiti.ttf);
}

.skimo {
    font-family: Grafiti;
    font-size: 60px;
}

body {
    margin: 0;
    width: 100%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    min-height: 100vh;
}

header {
    padding: 10px;
    background-color: rgba(120, 206, 219, .7);
    display: flex;
    justify-content: center;
}

.header-container { width: 85%; }

.header-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

.header-item {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img { width: 60px; }

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    color: black;
    text-decoration: none;
    font-size: 1.5rem;
    padding: 10px 20px;
    position: relative;
}

.links::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00818D;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease-in-out;
}

.links:hover { color: #00818D; }

.links:hover::before { transform: scaleX(1); }

main {
    padding: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
}

.main-container { width: 85%; }

.main-section {
    display: grid;
    grid-template-rows: 1fr 2fr;
    gap: 10px;
}

.main-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-img {
    background-image: url(/assets/images/jumbotron.jpg);
    background-repeat: no-repeat;
    background-position: -90px;
    width: 100%;
    height: 250px;
    display: grid;
    justify-content: center;
}

.titulo {
    display: grid;
    justify-content: center;
}

.titulo h1 {
    margin: 0;
    font-family: Grafiti;
    color: #eb1c23;
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.titulo h2 {
    margin: 0;
    font-size: 30px;;
    color: #0094b5;
}

.form { width: 600px; }

.form form {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.form label { font-size: 20px; }

.form input {
    width: 300px;
    font-size: 20px;
    border-radius: 5px;
}

.form button {
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}



footer {
    background-color: #bdbdbd;
    color: #1a1a18;
    margin: 2px;
    text-align: center;
    font-size: 20px;
}


