@font-face {
    font-family: 'Amazinc Grafiti';
    src: url(/assets/fonts/Amanzinc\ Grafiti.ttf);
}

.skimo {
    font-family: 'Amazinc Grafiti';
    font-size: 60px;
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    width: 100%;
    height: 100px;
    background-color: rgba(120, 206, 219, .7);
    display: flex;
    justify-content: center;
}

.header-section {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 10px;
}

.header-item {
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo img { width: 60px; }

#check, .checkbtn {display: none;}

nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.links {
    color: black;
    font-size: 20px;
    padding: 10px 20px;
    position: relative;
}

.links::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #00818D;
    z-index: 1;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform .5s ease-in-out;
}

.links:hover { color: #00818D; }

.links:hover::before { transform: scaleX(1); }

main {
    padding: 10px;
    margin: 2px;
    display: flex;
    justify-content: center;
}

.main-container { width: 85%; }

.main-section {
    display: grid;
    grid-template-rows: auto 2fr;
    gap: 10px;
}

.main-item {
    display: flex;
    align-items: center;
    justify-content: center;
}

.jumbotron-img {
    background-image: url(/assets/images/jumbotron.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 0;
    width: 100%;
    height: 250px;
    display: grid;
    justify-content: center;
}

.titulo {
    display: grid;
    justify-content: center;
}

.titulo h1 {
    margin: 0;
    font-family: 'Amazinc Grafiti';
    color: #eb1c23;
    font-size: 70px;
    display: flex;
    justify-content: center;
}

.titulo h2 {
    margin: 0;
    font-size: 30px;
    color: #0094b5;
}

.form { width: 600px; }

.form form {
    height: 100%;
    display: grid;
    justify-content: center;
    align-items: center;
}

.form label {
    font-size: 20px; 
    color: rgb(120, 206, 219);
}

.form input {
    width: 300px;
    font-size: 20px;
    border-radius: 5px;
}

.form button {
    font-size: 20px;
    border-radius: 5px;
    cursor: pointer;
}

.juegos {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 16px;
}

.juego a { color: black; }

.juego img { width: 100%; }

.dato-juego { text-align: center; }

footer {
    background-color: #bdbdbd;
    height: 50px;
    color: #1a1a18;
    margin: 2px;;
    text-align: center;
    padding: 15px 0;
    font-size: 20px;
}

@media screen and (max-width: 660px) {
    .checkbtn { display: block; }

    nav {
        max-width: 600px;
        position: fixed;
        left: -150%;
        top: 100px;
        width: 100%;
        background-color: rgba(120, 206, 219, .7);
        transition: all .5s;
    }

    nav a {
        display: block;
        text-align: center;
        margin: 10px 0;
        line-height: 20px;
    }

    #check:checked~nav { left: 0; }

    .main-section { grid-template-rows: auto 1fr; }

    .titulo h1 { font-size: 60px; }

    .form { width: 100%; }

    .form label { width: 100%; }

    .form input { width: 75%; }

    .form button { width: 20%; }

    #catalogo { padding: 5px; }

    .juegos { gap: 10px; }

    footer {
        font-size: 15px;
        padding: 5px;
    }
}
